/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    color: rgb(0, 66, 124);
    margin: 0;
    background-color: rgb(39, 122, 96);
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
